# Artificial Intelligence I: Introduction to Data Science and Machine Learning
# Chapter 1: Python Fundementals

### This is a notebook, contains three types of cells: code, markdown, raw
* Code cell: Python code
* Markdown cell: explainations and taking notes
    * https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet
* Raw cell: not evaluated by the notebook
    * can be used to disable a cell
    * sometimes can be useful for HTML and LaTeX output
#### Press shift + enter to execute a cell

In [1]:
25 + 10

35

In [2]:
5 - 10

-5

In [3]:
5 * 2

10

In [4]:
5 / 2

2.5

Modulus

In [5]:
5 % 2

1

Power

In [6]:
5 ** 2

25

Floor division

In [7]:
5 // 2

2

Some built-in functions

In [8]:
abs(-1)

1

In [9]:
max(5, 4)

5

In [10]:
min(5, 4)

4

##### Closest integer

In [11]:
round(3.7)

4

In [12]:
round(3.2)

3

#### Getting documentataion and help
#### When parantesis of the function is highlighted, press shift + tab to see documentation

In [13]:
#max()
#abs()

In [14]:
max?

Docstring:
max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.
Type:      builtin_function_or_method

In [15]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

Comments

In [16]:
# Single line comment
# Another single line comment

"""
Multiline comment
anoher comment
...
"""

'''
Another multiline comment
'''

'\nAnother multiline comment\n'

#### Variables and assignment
* variables are the most basic memory in programming

In [17]:
num = 22
num

22

In [18]:
# Increment num variable by 1
num = num + 1
num

23

In [19]:
# Short 
num += 1
print(num)

24

In [20]:
num_a = 15.9
num_b = -23.3

num_a
num_b

-23.3

### Important Note: Order matters for assignment

In [21]:
# code below is not correct
# -3 = num_a

#### Multiple assignments

In [22]:
num_c = num_d = 54.7

#### By default notebook prints the last statement
##### print() function is required for printing each variable

In [23]:
print(num_a)
print(num_b)
print(num_c)
print(num_d)

15.9
-23.3
54.7
54.7

### Strings

In [24]:
string_ex = 'Hello world'
string_ex

'Hello world'

#### In Python you can use both double quotes or single quotes to create a string

In [25]:
name = 'John'
surname = "Doe"

In [26]:
sentence = 'The car doesn\'t work'
# Both double and single quotes can be used in a string
sentence = "The car doesn't work"

#### String concat

In [27]:
full_name = name + ' ' + surname
full_name

'John Doe'

#### Note: Mind the spaces while working on strings
* space is also a character

In [28]:
full_name = name + '      ' + surname
full_name

'John      Doe'

#### Formatted string (f-string)
* You need Python 3.6+ (version 3.6 or higher)

In [29]:
full_name = f'{name} {surname}'
full_name

'John Doe'

In [30]:
age = 35
f'{name} {surname} is {age} years old'

'John Doe is 35 years old'

In [31]:
# Default 
print('Hi', full_name)
# f-string
print(f'Hi {full_name}')

Hi John Doe
Hi John Doe

#### Floating point numbers with formatted string

In [32]:
floating_point_num = 0.3582109977133674
floating_point_num

0.3582109977133674

In [33]:
# Show only last 4 digits after decimal
print(f'Formatted: {floating_point_num:.4f}')

Formatted: 0.3582

#### Splitting the string

In [34]:
# By default splits by spaces
'Walking in the streets of New York'.split()

['Walking', 'in', 'the', 'streets', 'of', 'New', 'York']

In [35]:
# Split by -
'Walking-in-the-streets-of-New-York'.split('-')

['Walking', 'in', 'the', 'streets', 'of', 'New', 'York']

#### Replace

In [36]:
# Replace - with a space
'Walking-in-the-streets-of-New-York'.replace('-', ' ')

'Walking in the streets of New York'

#### Repeating a string

In [37]:
'Walking ' * 5

'Walking Walking Walking Walking Walking '

### Data types
* Integer
* Floating-Point
* String
* Complex
* Boolean

In [38]:
type(43.553)

float

In [39]:
print(type(10))
print(type(10.423))
print(type('this is a string'))
print(type(10 + 4j))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

Type Conversion

In [40]:
print(type(int('34')))
print(type(str(5532.22)))

<class 'int'>
<class 'str'>

#### Jupyter magic commands start with %
##### see more: https://ipython.readthedocs.io/en/stable/interactive/magics.html

In [41]:
%whos

Variable             Type     Data/Info
---------------------------------------
age                  int      35
floating_point_num   float    0.3582109977133674
full_name            str      John Doe
name                 str      John
num                  int      24
num_a                float    15.9
num_b                float    -23.3
num_c                float    54.7
num_d                float    54.7
sentence             str      The car doesn't work
string_ex            str      Hello world
surname              str      Doe

## Operator Precedence

1. Parentheses ( )
2. Exponent **
3. Multiplication, Division, Floor division, Modulus *, /, //, %
4. Addition, Subtraction +, -

In [42]:
number1 = 4
number2 = 2
result = ((number1+number2)**2)/4
result

9.0

### Booleans and Logic Operations
* In Python, booleans either in True or False (with capital T and F)
* So true and false are invalid

In [43]:
a = True
b = True
c = False
d = False

#### AND truth table
* True and True -> True
* True and False -> False
* False and True -> False
* False and False -> False

In [44]:
# AND
print(a and b)
print(a and c)
print(c and a)
print(c and d)

True
False
False
False

#### OR truth table
* True or True -> True
* True or False -> True
* False or True -> True
* False or False -> False

In [45]:
# OR
print(a or b)
print(a or c)
print(c or a)
print(c or d)

True
True
True
False

#### NOT truth table
##### Note that NOT requires only one operand
* True -> False
* False -> True

In [46]:
not a

False

In [47]:
not b

False

In [48]:
not((a and b) or (c or d))

False

## Conditionals

* Code in block is run if a certain condition is met
* Python uses indentation to seperate different code blocks
* By default 4 spaces (or tab) is used

In [49]:
its_raining = False

if its_raining:
    # A block of code
    print("It's raining!")
else:
    # Another block
    print("It's not raining.")

It's not raining.

In [50]:
#variable = 355
#variable = 543.22222
variable = 'hello world'
#variable = 55 + 49j
#variable = False

if isinstance(variable, bool):
    print(variable, 'is an bool')
elif isinstance(variable, int):
    print(variable, 'is a integer')
elif isinstance(variable, float):
    print(variable, 'is a float')
elif isinstance(variable, str):
    print(variable, 'is a string')
elif isinstance(variable, complex):
    print(variable, 'is a complex number')
else:
    print(variable, 'is unknown type')

hello world is a string

* A == B (A equal to B)
* A != B (A not equal to B)
* A > B  (A is greater than B)
* A < B (A is less than B)
* A >= B (A is greater than or equal to B)
* A <= B (A is less than or equal to B)

In [51]:
a = 85

if a >= 85:
    print('AA Grade')
elif a >= 80 and a < 85:
    print('BA Grade')
elif a >= 75 and a < 80:
    print('BB Grade')
elif a >= 70 and a < 75:
    print('CB Grade')
else:
    # Less than 70
    print('Below Average')

AA Grade

## Loops

In [52]:
loop_index = 0

while loop_index < 10:
    print('Look index is at:', loop_index)
    loop_index += 1

Look index is at: 0
Look index is at: 1
Look index is at: 2
Look index is at: 3
Look index is at: 4
Look index is at: 5
Look index is at: 6
Look index is at: 7
Look index is at: 8
Look index is at: 9

### Loops with range() function
* range() is what we call a *generator* in Python
* each time loop starts, range() will return a new number

In [53]:
# idx starts from 0 goes until 10
# Note that 10 is not included
for idx in range(10):
    print('Look index is at:', idx)

Look index is at: 0
Look index is at: 1
Look index is at: 2
Look index is at: 3
Look index is at: 4
Look index is at: 5
Look index is at: 6
Look index is at: 7
Look index is at: 8
Look index is at: 9

In [54]:
# Start from 1 (instead of 0)
# Increment by 2
for idx in range(1, 10, 2):
    print('Look index is at:', idx)

Look index is at: 1
Look index is at: 3
Look index is at: 5
Look index is at: 7
Look index is at: 9

In [55]:
for idx in range(10):
    if idx % 2 == 0: # Even number
        continue # skips the loop iteration
    print('Look index is at:', idx)

Look index is at: 1
Look index is at: 3
Look index is at: 5
Look index is at: 7
Look index is at: 9

In [56]:
for idx in range(20):
    if idx >= 5:
        print('Breaking the loop')
        break
        
    print('Look index is at:', idx)

Look index is at: 0
Look index is at: 1
Look index is at: 2
Look index is at: 3
Look index is at: 4
Breaking the loop

#### Example: Sum of number from 0 to 100 that is divisible by 7

In [57]:
num_sum = 0

for number in range(100):
    if number % 7 == 0:
        num_sum += number
        
num_sum

735

## Functions
Code blocks that provide code reuse and organization

In [58]:
def print_hello_world():
    print('hello world')
    
print_hello_world()

hello world

In [59]:
def raise_to_power(number, power):
    return number ** power
    
# By default order of parameters is important
raise_to_power(4, 2)

16

In [60]:
# Keyword arguments
# Order can be changed
raise_to_power(power=2, number=4)

16

In [61]:
# parameters with default value
def say_hello(name='guest'):
    print(f'Hello, {name}!')
    
say_hello()
say_hello('Tom')

Hello, guest!
Hello, Tom!

## Python Data Structures
### List
* Container for different data types
* Mutable
* Duplicates allowed
* Preserves order of elements

In [62]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
l2 = ['Linear', 'Quadtratic', 'Cubic', 'Poly']
l2

['Linear', 'Quadtratic', 'Cubic', 'Poly']

In [65]:
# List with different data types: int, float, str, bool, complex
l3 = [1, 3.14, 'SVM', True, 3 + 4j]
l3

[1, 3.14, 'SVM', True, (3+4j)]

#### Length of the list

In [66]:
len(l3)

5

#### Access the elements (data) inside lists by indexing
* In Python, indexes start from 0

In [67]:
l_ex = [1, 'hello', 3.14]

In [68]:
l1[0]

1

In [69]:
print(f'{l1[1]}, {l1[2]}')

2, 3

In [70]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Update elements

In [71]:
l1[0] = -99
l1[5] = 55.22
l1

[-99, 2, 3, 4, 5, 55.22, 7, 8, 9, 10]

#### Negative indexes goes from end to start

In [72]:
print(f'{l1[-1]}, {l1[-2]}')

10, 9

In [73]:
l4 = []
l4.append(100)
l4.append(255)
l4.append(20.22)
l4

[100, 255, 20.22]

In [74]:
popped_value = l4.pop(0)
print(f'popped value: {popped_value}')
l4

popped value: 100

[255, 20.22]

#### List of lists

In [75]:
# list_2d = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# For readability, we can write like this
list_2d = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

list_2d

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Cycle through a list
This is equvalent to for each loop

In [76]:
for element in l1:
    print(element)

-99
2
3
4
5
55.22
7
8
9
10

#### Loop two lists together with zip() 
* NOTE: zip() is not limited to lists, can be used with any other iterable

In [77]:
names_list = ['Kolby Vico', 'Jenna Hayden', 'Navy Keighley', 'Jane Derrick']
ages_list = [51, 40, 35, 18]

for name, age in zip(names_list, ages_list):
    print(f'{name} is {age} years old')

Kolby Vico is 51 years old
Jenna Hayden is 40 years old
Navy Keighley is 35 years old
Jane Derrick is 18 years old

#### Indexing with enemeration
* Starts from zero to length of the iterable
* Last is not included so range is from 0 to len(names_list)-1
* NOTE: enumerate() is not limited to lists, can be used with any other iterable

In [78]:
for idx, name in enumerate(names_list):
    print(f'index: {idx}, name: {name}')

index: 0, name: Kolby Vico
index: 1, name: Jenna Hayden
index: 2, name: Navy Keighley
index: 3, name: Jane Derrick

#### Enumeration is equivalent to this

In [79]:
for idx, name in zip(range(len(names_list)), names_list):
    print(f'index: {idx}, name: {name}')

index: 0, name: Kolby Vico
index: 1, name: Jenna Hayden
index: 2, name: Navy Keighley
index: 3, name: Jane Derrick

#### Check if an element is in the list

In [80]:
# Note that it returns a bool value
2 in l1

True

### List comphrehension

In [81]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
l1 = []

for x in range(10):
    print(x**2)
    l1.append(x**2)

0
1
4
9
16
25
36
49
64
81

In [83]:
l1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Tuple
* Similar to lists but immutable (unchangeable after initiazation)
* Allows duplicates
* Preserves order of elements

In [84]:
t1 = (1, 2, 3, 4, 5)
t1

(1, 2, 3, 4, 5)

In [85]:
t2 = ('Istanbul', 'Ankara', 'Izmir', 'Canakkale')
t2

('Istanbul', 'Ankara', 'Izmir', 'Canakkale')

In [86]:
t3 = (6700, 'John', False, -22.44, 1)
t3

(6700, 'John', False, -22.44, 1)

#### Important note on single element tuple initialization

In [87]:
# Not a tuple
t4 = (122) 
print(type(t4))

<class 'int'>

In [88]:
# Tuple with one element
t4 = (122,)
print(type(t4))

<class 'tuple'>

### Convert tuple to list

In [89]:
list_from_tuple = list((1, 2, 5, 10))
list_from_tuple

[1, 2, 5, 10]

### Convert list to tuple

In [90]:
tuple_from_list = tuple([6700, 'John', False, -22.44, 1])
tuple_from_list

(6700, 'John', False, -22.44, 1)

### Slicing

l1[start:]          --> elements start through the rest of the list
l1[:stop]           --> elements from the beginning through stop-1
l1[start:stop]      --> elements start through stop-1
l1[:]               --> all of the elements
l1[start:stop:step] --> start through not past stop, by step (stop is not included)

In [91]:
#      0    1    2    3    4    5    6    7    8    9
#    -10   -9   -8   -7   -6   -5   -4   -3   -2   -1
l1 = ['s', 't', 'r', 'a', 'w', 'b', 'e', 'r', 'r', 'y']
#l1 = [ 0,   1,   2,   3,   4,   5,   6,   7,   8,   9 ]

# From first until fourth
# (remember first one is at 0)
print('From first until fourth:')
print(l1[0:3])
# Or you can write
print(l1[:3])

# Elements from second to fifth
# (remember last one is not included)
print('Elements from second to fifth')
print(l1[1:5])

# Last element in the list
print('Last element in the list')
print(l1[-1])

# Lastest in the list
print('Lastest first in the list')
print(l1[-10])

# From beginning to end but steps with 2
print('From beginning to end but steps with 2')
print(l1[::2])

From first until fourth:
['s', 't', 'r']
['s', 't', 'r']
Elements from second to fifth
['t', 'r', 'a', 'w']
Last element in the list
y
Lastest first in the list
s
From beginning to end but steps with 2
['s', 'r', 'w', 'e', 'r']

#### When step is negative, direction is reversed

In [92]:
# Reverse a list
print('Reverse a list')
print(l1[::-1])

# Step by 2 but reversed
print('Step by 2 but reversed')
print(l1[::-2])

Reverse a list
['y', 'r', 'r', 'e', 'b', 'w', 'a', 'r', 't', 's']
Step by 2 but reversed
['y', 'r', 'b', 'a', 't']

#### Dictionary
* Dictionaries are lists of key / value pairs
* Keys and values can use any data type
* Duplicate keys aren't allowed, duplice values are allowed

In [93]:
d1 = {
    'name': 'James',
    'age': 55,
    'occupation': 'data scientist',
}

d1

{'name': 'James', 'age': 55, 'occupation': 'data scientist'}

#### Initialize dictionary from scratch

In [94]:
d2 = {}
d2['name'] = 'Sarah'
d2['age'] = 34
d2['occupation'] = 'software engineer'
d2

{'name': 'Sarah', 'age': 34, 'occupation': 'software engineer'}

In [95]:
# Note that key 'name' already exists, so it is overwritten
d2['name'] = 'Allison'
d2

{'name': 'Allison', 'age': 34, 'occupation': 'software engineer'}

#### Another way to initialize dictionaries

In [96]:
d3 = dict(name='Tiffany', age=22, occupation='database administrator')
d3

{'name': 'Tiffany', 'age': 22, 'occupation': 'database administrator'}

In [97]:
print(f'All keys: {d3.keys()}')
print(f'All values: {d3.values()}')

All keys: dict_keys(['name', 'age', 'occupation'])
All values: dict_values(['Tiffany', 22, 'database administrator'])

In [98]:
# Convert to lists 
print(f'All keys: {list(d3.keys())}')
print(f'All values: {list(d3.values())}')

All keys: ['name', 'age', 'occupation']
All values: ['Tiffany', 22, 'database administrator']

#### By default keys are looped through

In [99]:
for k in d3:
    print(k)

name
age
occupation

#### Looping through values

In [100]:
for v in d3.values():
    print(v)

Tiffany
22
database administrator

#### Looping through both keys and values

In [101]:
for k, v in d3.items():
    print(f'Key: {k}')
    print(f'Value: {v}')
    print('*'*30)

Key: name
Value: Tiffany
******************************
Key: age
Value: 22
******************************
Key: occupation
Value: database administrator
******************************

### Example: Basic Database with Dictionaries

In [102]:
database = [
    {
        'name': 'James',
        'age': 55,
        'occupation': 'data scientist',
    },
    {
        'name': 'Tiffany',
        'age': 42,
        'occupation': 'database administrator',
    },
    {
        'name': 'Sarah',
        'age': 23,
        'occupation': 'data analyst',
    }
]

database

[{'name': 'James', 'age': 55, 'occupation': 'data scientist'},
 {'name': 'Tiffany', 'age': 42, 'occupation': 'database administrator'},
 {'name': 'Sarah', 'age': 23, 'occupation': 'data analyst'}]

In [103]:
# change age if name is Tiffany
for database_item in database:
    if database_item['name'] == 'Tiffany':
        database_item['age'] = 30

In [104]:
database

[{'name': 'James', 'age': 55, 'occupation': 'data scientist'},
 {'name': 'Tiffany', 'age': 30, 'occupation': 'database administrator'},
 {'name': 'Sarah', 'age': 23, 'occupation': 'data analyst'}]

### Set
* Lists that are unordered
* Duplicates are not allowed (unique)
* Immutable
* Often useful for set theory (mathematics)

In [105]:
# Syntax is similar to dictionary but no key-value pairs
s1 = {3, 5, -2, 33, 5, 3}
s1

{-2, 3, 5, 33}

#### Removing duplicates in lists with sets

In [106]:
list_with_duplicates = [200, 200, 512, 232, -123, 33, 55, 512]
set_from_list = set(list_with_duplicates)
list_without_duplicates = list(set_from_list)

print(f'Original list: {list_with_duplicates}')
# Note that sets does not keep the order of the elements
print(f'List without duplicates: {list_without_duplicates}')

Original list: [200, 200, 512, 232, -123, 33, 55, 512]
List without duplicates: [512, 33, -123, 200, 232, 55]

In [107]:
l_temp = ['portakal', 'portakal', 'portakal', 'limon', 'elma']
set(l_temp) # unique

{'elma', 'limon', 'portakal'}

## Example: Running program that executes commands from user

In [108]:
def execute_command(command):
    print(f'Executing command: {command}')

valid_commands = ('read data', 'train', 'test')
    
def run_application():
    # Infinite loop (running program)
    while True:
        # Read input (as string)
        # Blocks the program until enter is pressed
        input_command = input('>>> ')
        # Check if user wants to stop the program
        if input_command == 'quit':
            print('Exiting loop')
            break

        # Check if input command is incorrect
        if input_command not in valid_commands:
            print(f'Input command {input_command} is not valid!')
            continue

        # If everything is normal, execute the command
        execute_command(input_command)

### NOTE: The example above contains an infinite loop that can block the execution of the whole notebook. Therefore, it is commented out. 
#### Uncomment below to run the example

In [109]:
#run_application()

## Another Example: Ordinal Encoder
* Map string classnames into integers
* Each classname should only map to single integer (unique)

In [110]:
# Classnames are from Iris dataset
class_names = ('setosa', 'versicolor', 'virginica')

class_to_int = {}
mapping_int = 0

# Loop trough the classnames
for class_name in class_names:
    # If class already exits, skip it
    if class_name not in class_to_int.keys():
        # If not, create a new key-value pair
        class_to_int[class_name] = mapping_int
        # Increase mapping integer by one to map the next one
        mapping_int += 1
        
class_to_int

{'setosa': 0, 'versicolor': 1, 'virginica': 2}

### Example with duplicates
* Duplicates should be avoided in ordinal encoding

In [111]:
# Assume there are duplicates in the classnames
class_names = ('car', 'car', 'truck', 'ship', 'bicycle', 'car', 'bicycle')

class_to_int = {}
mapping_int = 0

# Loop trough the classnames
for class_name in class_names:
    # If class already exits, skip it
    if class_name not in class_to_int.keys():
        # If not, create a new key-value pair
        class_to_int[class_name] = mapping_int
        # Increase mapping integer by one to map the next one
        mapping_int += 1
        
class_to_int

{'car': 0, 'truck': 1, 'ship': 2, 'bicycle': 3}

## File I/O

In [112]:
file = open('example_text_file.txt', 'r')

# Loop through each line in file
for line in file:
    print(line)

file.close()

this is the first line

this is the second line

In [113]:
with open('example_text_file.txt', 'r') as file:
    print(file.read())

this is the first line
this is the second line

In [114]:
# Note that this overwrites any previous data in the file
with open('example_text_file2.txt', 'w') as file:
    # \n is for addig a newline
    file.write('first line is written \n')
    file.write('second line is written \n')

In [115]:
# Append to the end of the file
with open('example_text_file2.txt', 'a') as file:
    file.write('third line is written \n')

# Object Oriented Programming (OOP)
* OOP is a programming paradigm that encapsulate data and behavior
* In Python, everything is an object, and you can create your own objects with classes
* A class is a blueprint for creating objects. 
* Objects are instances of classes. 
* Think of a class as a template and an object as an instance of that template.
* In OOP, class functions are called "methods" and variables are called "attributes" (or "fields")

In [116]:
class Car:
    # __init__ method, which is a special method that gets called when an object is created
    # This method initializes the attributes of the object (make, model, and year)
    def __init__(self, make, model, year):
        # Attributes
        self.make = make
        self.model = model
        self.year = year
        
    def get_model(self):
        return self.model

    def set_model(self, yeni_deger):
        self.model = yeni_deger
    
    # Methods
    def display_info(self):
        print(f'{self.year} {self.make} {self.model}')

### Creating Instances (Objects)

In [117]:
car1 = Car('Fiat', 'Doblo', 2022)
car2 = Car('Honda', 'Accord', 2021)

car1.display_info()
car2.display_info()

2022 Fiat Doblo
2021 Honda Accord

## Inheritance

In [118]:
class ElectricCar(Car):
    def __init__(self, make, model, year, battery_capacity):
        # Call the constructor of the parent class (Car)
        super().__init__(make, model, year)
        self.battery_capacity = battery_capacity

In [119]:
electric_car = ElectricCar('Tesla', 'Model S', 2023, 100)

electric_car.display_info()

2023 Tesla Model S

### with Override
* Redefine (override) the previously defined functions in parent class

In [120]:
class ElectricCar(Car):
    def __init__(self, make, model, year, battery_capacity):
        # Call the constructor of the parent class (Car)
        super().__init__(make, model, year)
        self.battery_capacity = battery_capacity

    
    def display_info(self):
        # Override the display_info method to include battery capacity
        print(f'{self.year} {self.make} {self.model} (Electric), Battery Capacity: {self.battery_capacity} kWh')

In [121]:
electric_car = ElectricCar('Tesla', 'Model S', 2023, 100)

electric_car.display_info()

2023 Tesla Model S (Electric), Battery Capacity: 100 kWh